<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tamagotchi</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-color: cyan">
  <div class="jumbotron" style="text-align: center; background-color: yellow;">
    <h1>Build a Tamagotchi!</h1>
  </div>
  <form action="/tamas" method="post">
    <label for="name">Give Tama a Name</label>
      <input name="name" id="name" type="text">
    <button type="submit" name="button" class="btn btn-dark">Create a new Tamagotchi</button>
  </form>
</body>

</html>